    <div class="main-wrapper">

    	

        <!-- =========================
             HEADER
        ============================== -->
        <header class="header solid-bg" id="top">
            <!-- Background Overlay -->
            <div class="overlay">


						<%= render 'layouts/header' %>

         
                
                <!-- =========================================
                     Hero-Section
                ========================================== -->
                <div class="container vmiddle">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="hero-section">


<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
                                
                                <!-- Welcome - Hero Message -->
                                <h1 class="heavy" style="padding-bottom:10px;"><span class="text-color">Vera</span> fights your medical bills</h1>
                                <p class="" style="padding-bottom:10px;">Reduce your medical bill <span class="heavy">up to 80%.</span> Vera combines smart data and medical billing experts to audit your medical bills and help negotiate them down.</p>
                                
                                <!-- Learn More & Video Buttons -->
                                <div class="btn-box hero-signup">

                                    <div class="table">
                                    <div class="table-row">

                                        <div class="table-cell">
                                            <div class="input-group text-white">
                                                <!-- Input Form -->

                                                <!-- Begin MailChimp Signup Form -->


    
<!--End mc_embed_signup-->

<div id="mc_embed_signup">
<form action="//veraapp.us10.list-manage.com/subscribe/post?u=3e2dcf9f69bbe8c0108283618&amp;id=d4bcc2c3b4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                                                <input type="email" value="" id="mce-EMAIL" name="EMAIL" placeholder="Your email address" class="required email form-control">
                                                <div style="position: absolute; left: -5000px;"><input type="text" name="b_3e2dcf9f69bbe8c0108283618_d4bcc2c3b4" tabindex="-1" value=""></div>
                                                                                            
                                                <!-- Submit Button -->
                                                <span class="input-group-btn">
                                                    <input type="submit" value="FREE MEDICAL BILL REVIEW" name="subscribe" id="mc-embedded-subscribe" class="btn btn-white" style="color:#2980b9;border-radius:0px 4px 4px 00px;">
                                                </span>

<br>
<div id="mce-responses" class="text-color">
                                                                            <div class="response" id="mce-error-response" style="display:none"></div>
                                                                            <div class="response" id="mce-success-response" style="display:none"></div>
                                                                        </div>  


</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

                                            </div><!-- /End Input Group -->
                                        </div><!-- /End Table-Cell -->
                                    </div><!-- /End Table-Row -->
                                </div><!-- /End Table -->
                                    
                                </div>
                                <br><br><br>
                                <h5>Patient Advocate? <a href="/advocates">Click Here</a>
</h5>


                            </div><!-- /End Intro-Section -->
                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- /End Container Hero-Section -->


            </div><!-- /End Background Overlay -->
        </header>
        <!-- =========================
             /END HEADER
        ============================== -->
        
  
        <!-- =================================
             HOW IT WORKS
        ====================================== -->

          <section class="tab-features dark-bg" id="howitworks">
            <div class="container">
                <div class="features-title">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-white">Vera fights, you win</h2><br>
                        </div>
                    </div>
                    <div class="features-row row">
                        <div class="col-md-2 col-md-offset-1 feature-icon">
                            <p class="text-white">1</p>
                            <%= image_tag "step1.png" %>
                        </div>
                        <div class="col-md-9 feature-step">
                            <p class="large text-white">Upload your medical bills through our site or using the <a href="#mobile-download" class="text-color">Vera Health mobile app </a></p>
                        </div>
                    </div>
                    <div class="features-row row">
                        <div class="col-md-2 col-md-offset-1 feature-icon">
                            <p class="text-white">2</p>
                            <%= image_tag "step2.png" %>
                        </div>
                        <div class="col-md-9 feature-step">
                            <p class="large text-white">Your bill is reviewed by your <span class="text-color">Vera Advocate</span> to identify billing errors and areas for negotiation</p>
                        </div>
                    </div>
                    <div class="features-row row">
                        <div class="col-md-2 col-md-offset-1 feature-icon">
                            <p class="text-white">3</p>
                            <%= image_tag "step3.png" %>
                        </div>
                        <div class="col-md-9 feature-step">
                            <p class="large text-white"><a class="text-color">Vera Advocates</a> will fight the case on your behalf. Advocates are paid 25% of your savings and paid only if you win - so there's nothing to lose!
                        </div>
                    </div>



                </div>
            </div>
          </section>

        <!-- =================================
             /END SECTION
        ====================================== -->



        <!-- =======================================================
             TESTIMONIALS WITH PRESS/CLIENTS LOGOS
        ============================================================ -->
        <section class="testimonial-press light-bg" id="testimonials">
            <div class="container vmiddle">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="heavy">Our users save <span style="text-decoration:underline">thousands</span></h2>
                        <p class="large">Save 40% on the average qualified medical bill</p>
                    </div>
                </div>
                <div class="row">
                    <div class="tabs testimonials tab-container" >


                        

                        <div class="col-md-10 col-md-offset-1">
                            <div class="panel-container">
                                <div class="tab-block" id="tab-testimonials-1">
                                    <blockquote>
                                        <!-- Testimonial quote -->
                                        <p>I was pretty shocked by how much of a difference it made. Before Vera, I didn't even know negotiating was an option. I've saved thousands of dollars on my hospital bills. Vera is a lifesaver, and I recommend it to everyone.<br><br></p>
                                        <!-- Testimonial image -->
                                        <img src="images/testimonials/testimonial-1.jpg" alt=" ">
                                        <!-- Testimonial info -->
                                        <p class="testimonial-name"><span>James Knight</span>San Francisco, CA</p>
                                    </blockquote>
                                </div><!-- /End Tab-block -->
                                <div class="tab-block" id="tab-testimonials-2">
                                    <blockquote>
                                        <!-- Testimonial quote -->
                                         <p>I received over 25% more than I expected in savings from my Vera advocate.  I was very satisfied with the process and the communication during the process and especially happy with the results.<br><br></p>
                                        <!-- Testimonial image -->
                                        <img src="images/testimonials/testimonial-2.jpg" alt=" ">
                                        <!-- Testimonial info -->
                                        <p class="testimonial-name"><span>Nathan Wood</span>New York, NY</p>
                                    </blockquote>
                                </div><!-- /End Tab-block -->
                                <div class="tab-block" id="tab-testimonials-3">
                                    <blockquote>
                                        <!-- Testimonial quote -->
                                        <p>My short emergency room trip resulted in a $7,000 bill that I had to pay out of pocket. After getting the assessment from Vera, I was able to get the amount down to $2,500. Amazing stuff!<br><br></p>
                                        <!-- Testimonial image -->
                                        <img src="images/testimonials/testimonial-3.jpg" alt=" ">
                                        <!-- Testimonial info -->
                                        <p class="testimonial-name"><span>Harry Evans</span>Allentown, PA</p>
                                    </blockquote>
                                </div><!-- /End Tab-block -->
                                <div class="tab-block" id="tab-testimonials-4">
                                    <blockquote>
                                        <!-- Testimonial quote -->
                                         <p>My advocate found two major mistakes during the audit that saved me thousands of dollars. The whole experience was simple, fast, and a huge money saver.<br><br></p>
                                        <!-- Testimonial image -->
                                        <img src="images/testimonials/testimonial-4.jpg" alt=" ">
                                        <!-- Testimonial info -->
                                        <p class="testimonial-name"><span>Amber Palmer</span>Mountain View, CA</p>
                                    </blockquote>
                                </div><!-- /End Tab-block -->
                            </div><!-- /End Panel-container -->
                        </div><!-- /End Col -->
                        <ul class="etabs col-md-1 list-unstyled"> 
                            <li class="tab">
                                <a href="#tab-testimonials-1">
                                    <!-- Testimonial logo -->
                                    <img src="images/press-logos/press-1.png" alt="">
                                </a>
                            </li>
                            <li class="tab">
                                <a href="#tab-testimonials-2">
                                    <!-- Testimonial logo -->
                                    <img src="images/press-logos/press-1.png" alt="">
                                </a>
                            </li>
                            <li class="tab">
                                <a href="#tab-testimonials-3">
                                    <!-- Testimonial logo -->
                                    <img src="images/press-logos/press-1.png" alt="">
                                </a>
                            </li>
                            <li class="tab">
                                <a href="#tab-testimonials-4">
                                    <!-- Testimonial logo -->
                                    <img src="images/press-logos/press-1.png" alt="">
                                </a>
                            </li>
                        </ul><!-- /End Etabs --> 

                    </div><!-- /End Tabs --> 
                </div><!-- /End Row -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END TESTIMONIALS
        ============================== -->

        <!-- ==================================================
             MEDIA SECTION
        ======================================================= -->
        <section class="img-with-action light-bg light-borders">
            <!--div class="container wrapper-xs">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                    	<h4>Media 1</h4>
                    </div>
                    <div class="col-lg-3 col-md-3">
                    	<h4>Media 2</h4>
                    </div>
                    <div class="col-lg-3 col-md-3">
                    	<h4>Media 3</h4>
                    </div>
                    <div class="col-lg-3 col-md-3">
                    	<h4>Media 4</h4>
                    </div>
                </div>
            </div-->

            <!--div class="container logos">

            	<div class="col-lg-3 col-md-3">
            		<img src="/images/techcrunch_logo.png" style=""/>
            	</div>
            	<div class="col-lg-3 col-md-3">
            		<img src="/images/thenextweb_logo.png" style=""/>
            	</div>
            	
            	<div class="col-lg-3 col-md-3">
            		<img src="/images/wsj_logo.png" style=""/>
            	</div>
            	<div class="col-lg-3 col-md-3">
            		<img src="/images/entrepreneur_logo.png" style=""/>
            	</div>
					  </div-->


        </section>
        <!-- =============================
             /END MEDIA SECTION 
        ============================== -->

        <!-- =================================
             SECTION ABOUT - INTRO FEATURES
        ====================================== -->
        <section class="intro-features" id="features">
            <div class="container">
                <!-- Padding -->
                <div class="wrapper-lg">
                    <div class="row">
                        <!-- Section Header Title -->
                        <div class="col-xs-12">
                            <h2>Vera is your advocate with hospitals and insurers</h2>
                            <p class="large">They have billing experts. Now you do too.</p>
                        </div>
                    </div>
                    <!-- Three Main Features with Icons -->
                    <div class="row">
                    	  <div class="col-sm-4 intro-content">
                            <div class="icon-lg">
                                <i class="icon icon_datareport"></i>
                            </div>
                            <h4>Powerful Data</h4>
                            <p><a>Vera</a> is an intelligent learning platform that compiles data used by healthcare professionals to help lower your medical bills</p>  
                        </div>
                        <div class="col-sm-4 intro-content">
                            <div class="icon-lg">
                                <i class="icon icon_group"></i>
                            </div>
                            <h4>Experienced Advocates</h4>
                            <p>Our <a>Vera Advocates</a> are veteran hospital and medical coding experts that bring their industry intelligence and negotiation experience to you</p>
                        </div>
                        <div class="col-sm-4 intro-content">
                            <div class="icon-lg">
                                <i class="icon icon-mobile"></i>
                            </div>
                            <h4>Web + Mobile</h4>
                            <p>Upload your medical bills and access your assessments wherever your are using our web client and mobile applications</p>
                        </div>
                    </div><!-- /End Row -->
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END INTRO FEATURES
        ============================== -->
            
        <!-- ==================================================
            MOBILE DOWNLOAD SECTION
        ======================================================= -->
        <section class="mobile-download dark-bg" id="mobile-download">
            <div class="container">
                <div class="wrapper-lg">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="heavy text-white">The Vera Mobile App</h2>
                            <p class="large">Upload your bills and check on cases statuses anytime, anywhere</p>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Text and Mobile Download Buttons -->
                        <div class="col-sm-6 col-md-4">
                            <h3 class="text-white">Your Advocate at Your Fingertips</h3>
                            <p class="mobile-text">Upload your medical bills, keep updated on cases, and chat with your patient advocate all on your smart phone. Coming soon to iOS and Android.</p>
                            <a href="#" class="btn btn-color hidden"><i class="icon icon_cloud-download_alt"></i>Coming Soon</a>
                        </div>
                      
                        <div class="col-sm-6 col-md-4">
                            <!-- Screenshot Carousel -->
                            <div class="shot-container">
                                <div id="owl-carousel-shots-phone" class="owl-carousel">
                                    <div class="owl-container text-center shots-modal">
                                        <img src="images/app-screenshots/screenshot1.jpg" alt="" title="this is the title" />
                                    </div>
                                    <div class="owl-container text-center shots-modal">
                                        <img src="images/app-screenshots/screenshot2.jpg" alt="" title="this is the title" />
                                    </div>
                                    <div class="owl-container text-center shots-modal">
                                        <img src="images/app-screenshots/screenshot3.jpg" alt="" title="this is the title" />
                                    </div>
                                </div><!-- /End owl carousel-->
                            </div><!-- /End Container -->
                        </div>

                        <div class="col-sm-12 col-md-4 right-features">
                            <!-- More Features -->
                            <div class="col-sm-4 col-md-12">
                                <h4 class="text-white">Add Bills in Seconds</h4>
                                <p>Snap and submit new bills instantly. Just send, and we'll take care of the rest</p>
                            </div>
                            <div class="col-sm-4 col-md-12">
                                <h4 class="text-white">Get Notified</h4>
                                <p>Keep up to date on cases, and get notified immediately when new results come in</p>
                            </div>
                            <div class="col-sm-4 col-md-12">
                                <h4 class="text-white">Chat with Your Advocate</h4>
                                <p>Send messages to Vera and get responses back directly through the app</p>
                            </div>
                        </div>
                    </div><!-- /End Row -->
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END MOBILE DOWNLOAD SECTION 
        ============================== -->

         
        <!-- ==================================================
            SIGNUP DIVIDER
        ======================================================= -->
        <section id="canvas-bg" class="light-bg signup-divider">
            <div class="container">
                <div class="wrapper-lg">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 >Lower your medical bills</h2>
                            <p class="large">No credit card required</p>
                            
                        </div>
                    </div>

                    <div class="row">
                        <!-- Signup Form -->
                        <form id="signup-divider" role="form">
                           
                            <!-- Signup Button -->
                            <a class="typeform-share btn btn-color" href="https://verahealth.typeform.com/to/y7W5lD" data-mode="1" target="_blank">GET STARTED FOR FREE</a>
                            <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>

                        </form>
                    </div><!-- /End Row -->
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END SIGNUP SECTION 
        ============================== -->       
        <!-- ==================================================
            NEWSLETTER AND SOCIAL DIVIDER
        ======================================================= -->
        <section class="newsletter color-bg" id="newsletter">
            <div class="container">
                <div class="wrapper-sm" style="padding-bottom:15px;">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- =========================
                                Social Icons
                            ============================== -->
                            <div class="table">
                                <div class="table-row">
                                    <div class="table-cell follow">
                                        <h5 class="table-title">Follow Us</h5>
                                    </div>
                                    <div class="table-cell">
                                        <ul class="social-list">
                                            <li>
                                                <a href="">
                                                    <i class="icon icon-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://www.twitter.com/VeraHealthHQ">
                                                    <i class="icon icon-twitter"></i>
                                                </a>
                                            </li>
                                            <!--li>
                                                <a href="#">
                                                    <i class="icon icon-linkedin"></i>
                                                </a>
                                            </li-->
                                        </ul>
                                    </div><!-- /End Table-Cell -->
                                </div><!-- /End Table-Row -->
                            </div><!-- /End Table -->
                        </div><!-- /End Col -->

                        <div class="col-md-6">
                            <!-- =========================
                                MAILCHIMP SUBSCRIPTION FORM 
                            ============================== -->     

                            <!-- Begin MailChimp Signup Form -->
												
														<div id="mc_embed_signup">
															<form role="form" action="//veraapp.us10.list-manage.com/subscribe/post?u=3e2dcf9f69bbe8c0108283618&amp;id=1f2c32502c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mailchimp-subscribe" target="_blank" novalidate>
                                <div class="table">
                                    <div class="table-row">
                                        <div class="table-cell getnewsletter">
                                            <h5 class="table-title">Join our mailing list</h5>
                                        </div>
                                        <div class="table-cell">
                                            <div class="input-group text-white">
                                                <!-- Input Form -->
                                                <input type="email" value="" id="mce-EMAIL" name="EMAIL" placeholder="Your email address" class="required email form-control">
                                                <div style="position: absolute; left: -5000px;"><input type="text" name="b_3e2dcf9f69bbe8c0108283618_1f2c32502c" tabindex="-1" value=""></div>
																	    					
                                                <!-- Submit Button -->
                                                <span class="input-group-btn">
                                                	<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-white" style="color:#2980b9;">
                                                </span>
                                            </div><!-- /End Input Group -->
                                        </div><!-- /End Table-Cell -->
                                    </div><!-- /End Table-Row -->
                                </div><!-- /End Table -->
                                <div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2">
                                    <!-- Notifications --> 
                                    <br>
                                    <div id="mce-responses" class="text-white">
																			<div class="response" id="mce-error-response" style="display:none"></div>
																			<div class="response" id="mce-success-response" style="display:none"></div>
																		</div>  
                                </div>
                            	</form><!-- /End Mailchimp Subscribe Form -->

														</div>
														<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
														<!--End mc_embed_signup-->

                            
                                      
                            <!-- =========================
                                LOCAL SUBSCRIPTION FORM 
                            ============================== -->
                            <!-- ALTERNATE USE: SAVE YOUR SUBSCRIBE LIST IN .TXT

                            <form id="subscribe" role="form">
                                <div class="table">
                                    <div class="table-row">
                                        <div class="table-cell getnewsletter">
                                            <h5 class="table-title">Get the Newsletter</h5>
                                        </div>
                                    </div>
                                    <div class="table-cell">
                                        <div class="input-group">
                                            <input type="email" id="s-email" name="email" placeholder="Your email address" class="form-control">
                                            <span class="input-group-btn">
                                                <button class="btn btn-color">Submit</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2">
                                    <p class="subscription-success"><i class="icon icon_check_alt2"></i> You are successfully subscribed for our newsletter.</p>
                                    <p class="subscription-failed"><i class="icon icon_close_alt2"></i> Something went wrong!</p>
                                </div>
                            </form>
                            -->

                        </div><!-- /End Col -->
                    </div><!-- /End Row -->
                </div><!-- End Wrapper -->
            </div><!-- /End Container -->
        </section>
        <!-- =============================
             /END NEWSLETTER SECTION 
        ============================== -->
        <!-- ==================================================
            FOOTER
        ======================================================= -->
        <footer class="footer dark-bg" id="footer">
            <div class="container">
                <div class="wrapper-lg" style="padding-bottom:40px;">
                    <div class="row">
                        
                        <!-- Footer Contact Col -->
                        <div class="col-md-4">
                            <h5 class="text-white">Contact Us</h5>
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="icon icon_mail"></i>
                                </div>
                                <div class="contact-content">
                                    <a href="mailto:hello@veraapp.com" class="text-color">Hello@VeraApp.com</a>
                                </div>
                            </div>
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="icon icon_pin"></i>
                                </div>
                                <div class="contact-content">
                                    Vera HQ<br>
                                    625 2nd Street<br>
                                    San Francisco, CA 94105
                                </div>
                            </div>
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="icon icon_phone"></i>
                                </div>
                                <div class="contact-content">
                                    +1 510 646 3356
                                </div>
                            </div>
                        </div>

                        <!-- Footer Left Col -->
                        <div class="col-md-8">
                                <!-- Logo -->
                                <a href="#top" class="scrollto" title="SmartMvp">
                                    <span class="text-logo">Vera Health</span>
                                </a>
                                <p class="footer-hero"><strong>Our mission</strong> is to help people make better healthcare decisions. </p>
                                <p class="footer-cta">What do you believe in? <a href="mailto:jobs@veraapp.com" class="btn btn-color">Join Us</a>
                                </p> 
                        </div>
                        <!-- Footer Right Col: Twitter Feed -->
                        <!--div class="col-md-4">
                                <h5 class="text-white">Recent Tweets</h5>
                                <div class="tweet"></div>
                        </div-->

                        <!-- Footer Menu and Copy -->
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="footer-nav">
                                    <li>
                                        <a href="#">About</a>
                                    </li>
                                    <li>
                                        <a href="#">Blog</a>
                                    </li>
                                    <li>
                                        <a href="#">Terms</a>
                                    </li>
                                    <li>
                                        <a href="#">Privacy</a>
                                    </li>
                                </ul>
                                <p class="footer-copy">&copy; 2015 - Hitchhiker Labs</p>

                                <a href="https://mixpanel.com/f/partner" style="float:right"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
                            </div>

                        </div>
                        
                    </div><!-- End Row -->
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </footer>
        <script>

        mixpanel.track("Home Page Loaded");
        </script>

    </div><!-- /End Main Wrapper -->
